lib/__pycache__/
utils/__pycache__/
models/
data/
log/
scripts/runs/
scripts/__pycache__/
.python_history
.bash_history
.cache/
CLIP-ViL/
Matterport3DSimulator/
habitat-sim/
.viminfo
.vim
.gitmodules
Dockerfile